.filterscontainer{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 22px;
    align-items: center;
    padding: 8px;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding-left: 94px;
}

.filterssubcontainer::-webkit-scrollbar { 
    display: none;
}

@media (max-width: 768px) {

    .filterscontainer{
        padding: 6px;
    }
    
}

@media (min-width: 768px) and (max-width: 1260px) {
    .filterscontainer{
        padding-left: 42px;
    }
}