.container {
    position: fixed;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.716);
    overflow: scroll;
}
.subContainer{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 10px 12px;
    width: 50vw;
    height: fit-content;
    color: black;
    border-radius: 8px;
    overflow: hidden;
}

.topRow {
    display: flex;
    align-items: center;
}
.heading{
    flex: 1;
    text-align: center;
    margin: 0;
}
.companyNameImage{
    display: flex;
    gap: 16px;
    align-items: center;
}
.companyName {
    font-size: 16px;
    font-weight: 600;
}
.companyLogo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.location {
    margin: 0;
    text-transform: capitalize;
}
.jobRoleTag {
    background-color: rgb(238, 246, 130);
    padding: 4px 10px;
    color: rgba(0, 0, 0, 0.808);
    border-radius: 6px;
}

@media (max-width: 768px) {
    .subContainer{
        width: 100vw;
        height: 100vh;
        padding-top: 28px;
        padding-bottom: 20px;
        border: 1px solid red;
        border-radius: 0;
    }
}