.dropdown {
    display: inline-block;
    padding: 0 12px;
    border-radius: 4px;
}

.dropdownContent {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    margin-top: 6px;
}
.dropdownOption{
    color: black;
    display: block;
    padding: 4px;
    cursor: pointer;
}
.dropdownsubcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}
.downArrow{
    cursor: pointer;
}
.appliedvalue{
    border-radius: 4px;
    background-color: rgba(0, 128, 0, 0.496);
    padding: 2px 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
}
.appliedvaluecross{
    margin-top: 2px;
    padding: 2px;
}
.appliedvaluecross:hover{
    background-color: rgba(164, 10, 10, 0.825);
    border-radius: 50%;
}
@media (max-width: 768px) {
    .dropdown{
        width: 170px;
        border: 1px solid green;
     }
}

@media (min-width: 768px) and (max-width: 1260px) {
 .dropdown{
    width: 170px;
    border: 1px solid green;
 }
}