.container {
    background-color: #fff;
    display: flex;
    color: black;
    width: 22vw;
    border-radius: 8px;
    box-shadow: 0px 0px 11px 5px;
    padding: 10px 10px 8px;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-between;
}

.companyinfoContainer {
    display: flex;
    gap: 10px;
}

.companyLogo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.jobRole,
.location {
    text-transform: capitalize;
}

.company-info {
    display: flex;
    flex-direction: column;
}

.aboutjobContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.jobdescription {
    height: 16vh;
    overflow: hidden;
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.viewjobButton {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    cursor: pointer;
    color: rgba(30, 30, 217, 0.791);
    background: none;
    border: none;
    padding: 4px;
}

.minexptext {
    margin: 0;
}

.ctabuttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 8px;
}

.ctabuttons button {
    padding: 8px 0;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.easyapplybutton,
.askforrefferal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.easyapplybutton {
    background-color: #55efc4;
    color: #000000f7
}

.sparkle {
    color: #fef600;
}

.sparkle,
.handshake {
    transition: scale ease-in 200ms;
}

.askforrefferal {
    background-color: #0e577f;
    color: #d1d1d1f7
}

.easyapplybutton:hover .sparkle,
.askforrefferal:hover .handshake {
    scale: 1.2;
}

/* small screens */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}


/* medium screens */
@media (min-width: 768px) and (max-width: 1260px) {
    .container {
        width: 40vw;
    }
}